@model Bookstore.Models.mainmodel;
@{
    Layout = "../shared/dashbroadlayout.cshtml";

}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .card-header {
        background-color: #44b89d;
        color: white;
    }

    .btn1 {
        background-color: #44b89d;
        border-color: #44b89d;
    }

    .btn-secondary {
        background-color: #44b89d;
        border-color: #44b89d;
    }

    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .text-grey {
        color: #6c757d;
    }

    .text-black {
        color: #343a40;
    }

    .modal-content {
        border-radius: 15px;
        overflow: hidden;
    }

    .modal-header {
        background-color: #44b89d;
        color: #fff;
        border-bottom: none;
    }

    .modal-title {
        font-weight: bold;
    }

    .close {
        color: #fff;
        opacity: 1;
    }

    .modal-body {
        padding: 2rem;
    }

    .form-group label {
        font-weight: 600;
    }

    .form-control {
        border-radius: 10px;
        padding: 0.75rem 1rem;
        border: 1px solid #ced4da;
        transition: all 0.3s ease-in-out;
        box-shadow: none;
        background-color: #f8f9fa;
        font-size: 1rem;
    }

        .form-control:focus {
            border-color: #80bdff;
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
            background-color: #ffffff;
        }

        .form-control::placeholder {
            color: #6c757d;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }

        .form-control:focus::placeholder {
            opacity: 0.5;
        }

    .btn1 {
        background-color: #44b89d;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 0.75rem 1.5rem;
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;
    }

        .btn1:hover {
            background-color: #44b89d;
            color: white;
        }

    .btn-block {
        margin-top: 1rem;
    }

    .input-group {
        flex: 1;
        max-width: 100%;
    }

    #searchPassenger {
        border-radius: 0.25rem 0 0 0.25rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .input-group-append .btn {
        border-radius: 0 0.25rem 0.25rem 0;
        background-color: #44b89d;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

        .input-group-append .btn:hover {
            background-color: #44b89d;
        }



    /* Counting cards */
    .card-count {
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

        .card-count .card-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .card-count .count {
            font-size: 2rem;
            font-weight: bold;
        }

        .card-count .icon {
            font-size: 2.5rem;
            color: #44b89d;
        }

    .main-content {
        padding: 20px;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .cardd {
        margin-bottom: 20px;
    }

    .cardbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cardd-img {
        object-fit: cover;
        height: 100%;
    }

    .cardtitle {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .carddbody ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .form-group select {
        width: 100%;
        padding: .375rem 1.75rem .375rem .75rem;
    }

</style>
@if (TempData["msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["msg"]
    </div>

}
@if (TempData["msg2"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["msg2"]
    </div>
}

<div class="container-fluid ">
    <div class="main-content">
        <h1>Orders Management</h1>
        <div class="card">
            <div class="card-header">order List</div>
            <div class="card-body table-responsive">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="input-group" style="flex: 1;">
                        <form style="width: 100%;" class="d-flex" autocomplete="off">
                            <input type="text" name="textsreach"
                                   class="form-control" id="searchPassenger" placeholder="Search for orders...">
                            <div class="input-group-append">
                                <button class="btn btn-outline" type="submit">Search</button>
                            </div>
                        </form>

                    </div>
                </div>

                <table class="table table-striped ">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Email</th>
                            <th>Total price</th>
                            <th>Total product</th>
                            <th>Delivered Status</th>
                            <th style="text-align: end; padding-right: 5%;">Action</th>
                        </tr>
                        @foreach (var data in Model.orders_Details)
                        {
                            <tr>

                                <td>@data.user_name</td>
                                <td>@data.user_email</td>
                                <td>@data.sum</td>
                                <td>@data.product_count</td>
                                <td>
                                    @if (data.status == 1)
                                    {
                                        <span>pending</span>
                                    }
                                    else
                                    {
                                        <span>Delivered</span>

                                    }
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal">
                                        <a href="@Url.Action("order_data","admin",new{id=data.order_id})" style="color:white;">
                                            <i class="ri-information-2-line"></i>
                                        </a>
                                    </button>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal">
                                        <a href="@Url.Action("staus_order","admin",new{id=data.order_id})" style="color:white;">
                                            <i class="ri-shopping-cart-2-fill"></i>
                                        </a>
                                    </button>
                                    <button class="btn btn-danger btn-sm" data-toggle="modal">
                                        <a href="@Url.Action("order_delete","admin",new{
                                            id=data.order_id
                                        })" style="color:white;">
                                            <i class='bx bxs-trash'></i>
                                        </a>
                                    </button>

                                </td>
                            </tr>

                        }


                    </thead>
                    <tbody>
                    </tbody>
                </table>
                @if (TempData["count"] != null)
                {
                    <h4 style="color:red;text-align:center;"> @TempData["count"]</h4>
                }
            </div>

        </div>

    </div>
</div>
