@model Bookstore.Models.mainmodel;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- boxicons  -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- style  -->
    <link rel="stylesheet" href="~/css/dashboard_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- fontawose icons  -->
    <!-- sweetalert  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <!-- custom links -->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>

</head>
<body>
    <!-- side bar  -->
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxs-book-heart'></i>
            <span class="logo_name">
                Bostorek
            </span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="@Url.Action("user_details", "admin")" class="sidebar-link">
                    <i class='bx bxs-user'></i>
                    <span class="link_name">User </span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("user_details","admin")"> User </a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("author_details","admin")" class="sidebar-link">
                    <i class='bx bxs-user-circle'></i>
                    <span class="link_name">Authors </span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("author_details","admin")">Authors </a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("genres_details","admin")" class="sidebar-link">
                    <i class='bx bxs-edit-alt'></i>
                    <span class="link_name">genres</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("genres_details", "admin")">
                        genres </a></li>
                </ul>
            </li>
            <li>
                
                <a href="@Url.Action("books_details", "admin")" class="sidebar-link">
                    <i class='bx bxs-book-bookmark'></i>
                    <span class="link_name"> Books</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("books_details", "admin")">Books </a></li>
                </ul>
            </li>
       
            <li>

                <a href="@Url.Action("orders", "admin")" class="sidebar-link">
                    <i class="ri-shopping-cart-fill"></i>
                    <span class="link_name"> Orders</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("orders", "admin")">Orders details </a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("contact", "admin")" class="sidebar-link">
                    <i class='bx bxs-phone'></i>
                    <span class="link_name"> Contact</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="@Url.Action("contact", "admin")">Contact </a></li>
                </ul>
            </li>
        </ul>
    </div>
    <section class="home-section ">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">
               
BOSTOREK
            </span>
            @foreach(var data in Model.admin_data)
            {

            <div class="profile-dropdown">

                <span class="profile-name">@data.Name</span>
                <i class='bx bx-chevron-down' style="color:white"></i>
                <div class="dropdown-content">
                    @* <a href="@Url.Action("profile","admin",new {Id=data.Id})">Profile</a>
                     *@
                        <a href="@Url.Action("admin_profile","admin",new{id=data.Id})">Profile</a>
                        <a href="@Url.Action("logout","admin")">Logout</a>
                </div>
            </div>
  
                
            }
                  </div>
        @RenderBody()
    </section>


    <div>
       
    </div>
    <!-- js  -->
    <!-- sidebar  -->
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;
                arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });


        //    sweetalert
        function confirmDelete(passengerId) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this passenger's data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        swal("Poof! Your passenger has been deleted!", {
                            icon: "success",
                        });
                    } else {
                        swal("Your passenger is safe!");
                    }
                });
        }</script>
    <!-- bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
