@model Bookstore.Models.mainmodel;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<style>
  #my{
    background-color: #063547;
    border: none;
  }
  #my option
  {
    color: black;
    background-color: white;
    border: none;
    box-shadow: 4px 4px 10px red;
    text-align:center;
  }

    .mu {
        background-color: #063547;
        ;
        border: none;
        color: white;
    }

        .mu:hover {
            background-color: #063547;
            
            border: none;
            color: white;
        }
</style>
<body>
 
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
                        <span>
                            Bostorek
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link pl-lg-0" href="@Url.Action("index","home")">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("about","home")"> About</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("books_details","home")">Books</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("blog","home")"> Blog </a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("contact","home")">Contact Us</a>
                            </li>
                        <li class="nav-item">

                            <a href="@Url.Action("carts_views","home")"> 
                                <i class="ri-shopping-cart-line nav-link" id="myicon"></i></a>
                        </li>
                        <li class="nav-item">

                            <a href="@Url.Action("wishlist_view","home")">
                              
                                <i class="ri-heart-3-line nav-link" id="myicon"></i>
                            </a>
                        </li>
                        @if (TempData["registered"] != null)
                        {
                            @foreach(var data in Model.admin_data)
                            {
                                
                            
                            <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn  dropdown-toggle mu" type="button" id="dropdownMenuButton " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                           @data.Name
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="@Url.Action("profile","home",new{id=data.Id})">Profile</a>
                                            <a class="dropdown-item" href="@Url.Action("order_views","home")">View orders</a>

                                            <a class="dropdown-item" href="@Url.Action("logout","home")">logout</a>
                                        
                                        </div>
                                    </div>
                            </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("login_form","home")">login</a>
                            </li>

                        }
                        

                       
                        </ul>
                        <from class="search_form">
                            <input type="text" class="form-control" placeholder="Search here...">
                            <button class="" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </from>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
       
    
    
    <div>
        @RenderBody()
    </div>
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_detail">
                        <h4>
                            About Us
                        </h4>
                        <p>
                            Vitae aut explicabo fugit facere alias distinctio, exem commodi mollitia minusem dignissimos atque asperiores incidunt vel voluptate iste
                        </p>
                        <div class="info_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_contact">
                        <h4>
                            Address
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +01 1234567890
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_contact">
                        <h4>
                            Newsletter
                        </h4>
                        <form action="#">
                            <input type="text" placeholder="Enter email" />
                            <button type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="map_container">
                        <div class="map">
                            <div id="googleMap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- footer section -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
</body>
</html>
